.experience {
    display: flex;
    gap: 1rem;
    min-height: 30vh;
    padding-bottom: 2rem;
}

.experience__list__item {
    padding-bottom: 2rem;
}

.experience__list__item li {
    padding-bottom: 1rem;

}

.experience__list__item p {
    padding-bottom: 1rem;
    text-align: justify;
}

@media (max-width: 1200px) {
    .experience {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 2rem;
    }
}