.project {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    min-height: 30vh;
    padding-bottom: 2rem;
}

.project__content__descripition {
    text-align: justify;
}

.project__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 1200px) {
    .project {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 2rem;
    }
}