/* CSS HEX */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Roboto&display=swap');
@import url(header.css);

:root {
    --color-bg: #080705;
    --color-text: #faf9f9;
    --color-primary: #6cae75;
    --color-secondary: #f1a208;
    --color-analogous: #254d32;
    --color-hover: #272727;

    --font-text: 'Montserrat', sans-serif;
    --font-title: 'Krona One', sans-serif;
    --font-size-title-l: 2.25rem;
    --font-size-title-m: 2rem;
    --font-size-title-s: 1.75rem;
    --font-size-text: 1.5rem;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    background-color: var(--color-bg);

    color: var(--color-text);
    font-family: var(--font-text);
    font-weight: 400;

    min-height: 100%;
}


ol,
ul {
    list-style: none;
}


h1,
h2,
h3 {
    font-family: var(--font-title);
    margin-bottom: 0.5rem;
}

h1 {
    font-size: var(--font-size-title-l);
}

h2 {
    font-size: var(--font-size-title-m);
}

h3 {
    font-size: var(--font-size-title-s);
}

p,
a {
    font-size: var(--font-size-text);
    line-height: 1.2em;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-secondary);
}

.emphasis {
    color: var(--color-primary);
}

main {
    padding: 5% 15%;
}

.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--color-primary);
    width: 378px;
    padding: 20px 0;
    border-radius: 8px;
    color: var(--color-text);
    font-weight: 600;
    text-align: center;
}

.button-primary:hover {
    background-color: var(--color-hover);
    color: var(--color-primary);
}

footer {
    background-color: var(--color-primary);
    padding: 24px;
    color: var(--color-bg);
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--font-text);
    font-weight: 600;
}

.social {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.source-code {
    margin-left: auto;
}

.svg-ico {
    fill: var(--color-bg);
}

.svg-ico:hover {
    fill: var(--color-analogous);
}


@media (max-width: 1200px) {
    main {
        padding: 15% 5%;
    }
}

@media (max-width: 450px) {
    .button-primary {
        width: 100%;
        flex-wrap: wrap;
    }
}